[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "==2.1.1"
datetime = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
